body{
    background-color: black;
    color: aliceblue;
    font-size: 40px;
    font-style: italic;
}
img{
    height: 500px;
    width: 599px;
}
.p1{
    align-items: end;
    display: flex;
    background-color: black;
    color: aliceblue;
}
.p2{
    text-align: center;
    float: left;
    width: 30px;
    
}

a{
    text-decoration: none;
}
.container{
    width: 90%;
    background: red;
    height: 100px;
}
@media screen and ( min width:8
    .container{
        width:80%;
        background: green;
        height: 200px;
    }
}