body{
    background-image: url(code\ 1.jpg);
    opacity: 100pX;
    font-size: 30px;
    color: white;
}
a{
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    color: black;
    color: white;
}
img{
    border-radius: 50px;
    height: 500px;
    width: 300px;
}

@media only screen and(max-width: 600px)
body{
    background-color:light blue;
}

}